<!DOCTYPE html>
<html lang="en">

{{> baseHead }}

<body>
    {{> siteHeader}}
    <section class="section">
        <div class="container">
            <h1>Hello Potip</h1>
            <p>say something..</p>

            {{#each allPosts }}
                <div class="onepost">
                    <h4><a href="/p/{{ this.id }}">{{ this.title }}</a></h4>
                    <p>
                        <span>{{ this.from }} |</span>
                        <span>{{ this.createdAtText }}</span>
                    </p>
                    
                    {{#if commentsCount}}
                        <p>{{ commentsCount }} comments</p>
                    {{ else }}
                        <p>No comment - let's first!</p>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </section>
    {{> siteFooter}}
</body>
</html>